{{outlet}}
<p>Hello there</p>

<!-- Put control list -->

<div class="summaryViewList">
  {{#each post in controller}}
    <div class="summaryItem">
      {{#linkTo posts.selectedPost post}}
        {{post.title}}
      {{/linkTo}}
    </div>
  {{/each}}
</div>
