<div>
  <p>All Posts</p>
  <div>
    {{#each post in controller}}
      <div>
        {{#linkTo posts.selectedPost post}}
          {{post.title}}
        {{/linkTo}}
      </div>
    {{/each}}
  </div>
</div>

<div>
  <p>Selected Post</p>
  {{outlet}}
</div>
